// colums
$columns: 8;
$columns-width: (100/$columns) * 1%;

/*

infos zun grid
 
*/

.site {
    @include grid;
    border: 1px solid rgb(199, 142, 20);
    // -ms-grid-rows: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: $columns-width $columns-width $columns-width $columns-width $columns-width $columns-width $columns-width $columns-width;
    grid-template-columns: repeat($columns, $columns-width);
    // -ms-grid-gap: 12px;
    // grid-gap: 12px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    // background-color: rgb(76, 35, 226);
    @include grid-row(1);
    @include grid-column(1, 8);
    // margin-bottom: 20px;
}

.navigation-wrapper {
    @include grid-row(2);
    @include grid-column(1, 8);
}

.top-news {
    @include grid-row(3);
    @include grid-column(1, 8);
}

.main-content {
    // background-color: rgb(185, 197, 192);
    @include grid-row(4);
    @include grid-column(1, 8);
}

.aside-home-page {
    // background-color: rgb(119, 126, 123);
    &--first {
        @include grid-row(5);
        @include grid-column(1, 8);
    }
    &--second {
        @include grid-row(6);
        @include grid-column(1, 8);
    }
}

.news-block-wrapper {
    @include grid;
    -ms-grid-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-columns: repeat(3, 33.33333%);
    @include grid-row(7);
    @include grid-column(1, 8);
    article:nth-child(1) {
        // @include grid-row(1);
        @include grid-column(1, 1);
    }
    article:nth-child(2) {
        // @include grid-row(1);
        @include grid-column(2, 1);
    }
    article:nth-child(3) {
        // @include grid-row(1);
        @include grid-column(3, 1);
    }
}

footer {
    background-color: rgb(240, 78, 78);
    @include grid-row(8);
    @include grid-column(1, 8);
}

@media screen and (min-width: 768px) {
    .main-content {
        @include grid-row(4);
        @include grid-column(3, 4);
    }
    .aside-home-page {
        &--first {
            @include grid-row(4);
            @include grid-column(1, 2);
        }
        &--second {
            @include grid-row(4);
            @include grid-column(7, 2);
        }
    }
}