.navigation {
    border-bottom: 2px solid $color-border;
    border-top: 2px solid $color-border;
    margin-bottom: 20px;
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        &__item {
            &__link {
                @include font-size(27);
                color: $color-text;
                cursor: pointer;
                display: block;
                font-family: 'UnifrakturCook', cursive;
                padding: 10px 0;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width: 599px) {
        display: none;
    }
}